<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<!-- Font Imports -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet"
    href="https://assets.contentstack.io/v3/assets/blt964243cdd7810dea/blt8c2b98098e8575d5/fonts.css?v=1">

<!-- Global Imports -->
<link rel="stylesheet"
    href="https://assets.contentstack.io/v3/assets/blt964243cdd7810dea/blt962bf393a9d818eb/homepage.css?v=39">

<!-- Module Imports -->
<!-- Ticker -->
<link rel="stylesheet"
    href="https://assets.contentstack.io/v3/assets/blt964243cdd7810dea/bltab827885b96db789/hp-ticker.css?v=5">

<!-- Featured Categories -->
<link rel="stylesheet"
    href="https://assets.contentstack.io/v3/assets/blt964243cdd7810dea/blt41784e241a330d70/hp-featured-categories.css?v=13">

<!-- Banner with featured categories -->
<link rel="stylesheet"
    href="https://assets.contentstack.io/v3/assets/blt964243cdd7810dea/blt15151bae612fd250/hp-banner-with-feat-cat.css?v=3">

<!-- Scrollable cards -->
<link rel="stylesheet"
    href="https://assets.contentstack.io/v3/assets/blt964243cdd7810dea/blt54e14b4437cf1046/hp-scrollable-cards.css?v=8">

<!-- Hero Banner -->
<link rel="stylesheet"
    href="https://assets.contentstack.io/v3/assets/blt964243cdd7810dea/bltab5dcd466b4a5dbd/hp-hero-banner.css?v=7">

<!-- New and Upcoming Component -->
<link rel="stylesheet"
    href="https://assets.contentstack.io/v3/assets/blt964243cdd7810dea/blt9e5beb1eb235cc7c/hp-new-upcoming.css?v=13">

<!-- Holiday Season (Green) Component -->
<link rel="stylesheet"
    href="https://assets.contentstack.io/v3/assets/blt964243cdd7810dea/bltfc55f84563d4bc13/hp-holiday-season.css?v=5">

<!-- Evergreen ACC -->
<link rel="stylesheet"
    href="https://assets.contentstack.io/v3/assets/blt964243cdd7810dea/bltb71a20c9b424a2ae/hp-acc-evergreen.css?v=2">

<!-- Trending / Keep Shopping Banner -->
<link rel="stylesheet"
    href="https://assets.contentstack.io/v3/assets/blt964243cdd7810dea/blt16a51b81740f9aff/hp-trending-keep-shopping-banner.css?v=5">

<!-- Promo Banner -->
<link rel="stylesheet"
    href="https://assets.contentstack.io/v3/assets/blt964243cdd7810dea/blt1c6ea5528dfec86f/hp-promo-banner.css?v=1">

<!-- Evergreen - Customers are Shopping - Featured Categories -->
<link rel="stylesheet"
    href="https://assets.contentstack.io/v3/assets/blt964243cdd7810dea/blt21f8241412f60d18/hp-customers-are-shopping.css?v=6">

<!-- New Scrollable Cards -->
<link rel="stylesheet"
    href="https://assets.contentstack.io/v3/assets/blt964243cdd7810dea/bltdb8836383bbcc5b5/hp-scrollable-cards-new.css?v=24">

<!-- Common size styles -->

<style>
    .headline-svg {
        height: clamp(32px, 2.5vw, 53px);
        width: auto;
    }

    .text-card-title {
        font-size: var(--text-card-title, clamp(16px, 1.69vw, 28px));
    }

    .text-card-promo {
        /*font-size: var(--text-card-title, clamp(18px, 1.75vw, 48px));*/

    }

    .color-red {
        color: #e81111;
    }

    .text-card-kicker {
        font-size: var(--text-card-kicker, clamp(12px, 1.33vw, 22px));
    }

    .text-card-disclaimer {
        font-size: var(--text-card-disclaimer, clamp(14px, 1.33vw, 22px));
    }

    .text-card-cta {
        font-size: var(--text-card-cta, clamp(14px, 1.33vw, 22px));
        text-decoration: underline;
        font-weight: 700;
    }
</style>

<!-- End of Common Imports -->





<section data-cname="cs_servicefooter_stack" data-pz-seg-name="cs_default" data-pz-seg-id="cs_default">

    <link rel="stylesheet"
        href="https://assets.contentstack.io/v3/assets/blt964243cdd7810dea/blt8051d1dbb5f558c4/HLP Stylesheet.css?v1.31" />
    
    <div id="infoComponent">
        <div class="info-component-container-bleed">
            <div class="info-component-container">
                <div class="info-feature-item">
                    <img src="https://images.contentstack.io/v3/assets/blt964243cdd7810dea/blt150865484bac2aa0/699bf1a47603c100089f2143/myacademyrewards.svg"
                        alt="$15 OFF AFTER YOU JOIN. Terms and conditions Apply." class="info-icon"
                        style="width: 108px;height: auto;">
                    <h3 class="info-heading">$15 OFF AFTER YOU JOIN</h3>
                    <p class="info-description">Terms and conditions Apply.</p>
                    <a href="https://www.academy.com/shop/LogonForm?pageState=signUp" class="info-link me-3"
                        data-omni="hp_storeservices_mac_myacademy">Join for Free</a>
                    <a href="https://www.academy.com/myacademy-rewards" class="info-link" data-omni="hp_storeservices_mac_myacademy">See
                        Details</a>
                </div>
    
                <div class="info-feature-item">
                    <img src="https://images.contentstack.io/v3/assets/blt964243cdd7810dea/blt46e82061cb1cce90/677d8b0f34b6b6926bbb428c/free-shipping.svg"
                        alt="Free shipping on Orders $25+ with myAcademy" class="info-icon">
                    <h3 class="info-heading">FREE SHIPPING</h3>
                    <p class="info-description">on Orders $25+ with myAcademy Rewards</p>
                    <a href="/shipping-returns" class="info-link" data-omni="hp_storeservices_mac_freeshipping25d">See
                        Details</a>
                </div>
    
                <!-- <div class="info-feature-item">
                    <img src="https://images.contentstack.io/v3/assets/blt964243cdd7810dea/blt8479d6e69a86609c/677d8b10db5c5aa00a2a2114/sameday-delivery_doordash.svg"
                        alt="Same Day Delivery" class="info-icon">
                    <h3 class="info-heading">SAME DAY DELIVERY</h3>
                    <p class="info-description">Powered by DoorDash</p>
                    <a href="/same-day-delivery" class="info-link" data-omni="hp_storeservices_mac_doordash">See Details</a>
                </div> -->
    
                <div class="info-feature-item">
                    <img src="https://images.contentstack.io/v3/assets/blt964243cdd7810dea/blt8479d6e69a86609c/677d8b10db5c5aa00a2a2114/sameday-delivery_doordash.svg"
                        alt="Same Day Delivery" class="info-icon">
                    <h3 class="info-heading">SAME DAY DELIVERY</h3>
                    <p class="info-description">Powered by DoorDash</p>
                    <a href="/same-day-delivery" class="info-link" data-omni="hp_storeservices_mac_doordash">See Details</a>
                </div>
    
                <div class="info-feature-item">
                    <img src="https://images.contentstack.io/v3/assets/blt964243cdd7810dea/blt6dc8f4158a3a0a24/677d8b0fbaaf228d59288217/1-hr-pickup.svg"
                        alt="1-Hour Pickup Icon" class="info-icon">
                    <h3 class="info-heading">FREE 1-HOUR PICK UP</h3>
                    <p class="info-description">Curbside or In-Store</p>
                    <a href="/buy-online-pick-up-in-store" class="info-link" data-omni="hp_storeservices_mac_1hrpickup">See
                        Details</a>
                </div>
            </div>
        </div>
    </div>
    
    </section>